body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color:#1f1e1d;
}

header{
    background-color: #1f1e1d;
}
/*
    По БЭМу нельзя использовать кроме классов.  text-decoration: none; в принципе можно оставить, но для кастомизации (цвет, размер шрифта) нужно создать класс (например Link) и уже его использовать везде где нужно.
    Тоже самое справедливо и для других мест
    */
a{
    text-decoration: none;
    font-size: 18px;
    color: whitesmoke;
}


.header-navigation{
    /*
     1. БЭМ блоку нельзя задавать внешнюю геометрию, отступы, способ позиционирования и тп.
     Суть блока в том, что если его скопипастить в любое другое место, он встанет и не сломает вёрстку.
     В данном  же случае, если его вставить куда-нибудь он добавит еще и отступ в 200px слева, что сломает вёрстку.
     Вместо этого, надо создать БЭМ элемент в том месте где у тебя этот класс находится и уже ему задавать отступ.

     2. Вёрстка реализована неправильно. Выравнивание должно достигаться не за счёт фиксированных отступов, а автоматически, в зависимости от контента и тп.
     Для этого и нужны флексы и гриды.
      */

    margin-left: 200px;
    color: white;
    margin-top: 35px;
}

.header-navigation-logo {
    font-size: 22px;
    display: inline-block;
}

.header-navigation-main{
    margin-left: 30px;
    display: inline-block;
}

.header-navigation-main a{
    padding: 20px;
}

.header-navigation-search-container {
    align-items: center;
    display: inline-block;
    margin-left: 550px;
}
/* Разочарован увидев id, учитывая что я много раз повторял, что для БЭМа используются только классы.*/
#header-navigation-search {
    width: 70px;
    height: 20px;
    border: 1px solid whitesmoke;
    padding: 4px;
    padding-left: 8px;
    border-radius: 20px;
    background-color: #1f1e1d;
}

.header-navigation-line {
    position: absolute;
    width: 100%;
    height: 1px;
    background-color:white;
}

.header-navigation-authorization{
    display: inline-block;
    padding-left: 10px;
}

.header-navigation-authorization button{
    background-color: white;
    padding: 4px;
    height: 30px;
    width: 120px;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
}

.header-navigation-listElement{
    background-color: gray;
}

.header-navigation-listElement p{
    font-size: 20px;
    margin: 0;
    padding-left: 200px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: whitesmoke;
}


.main-page{
    margin-left: 200px;
}
.main-page-navigation{
    display: inline-block;
}

#main-page-navigation-filter{
    margin-top: 15px;
    border: none;
    width: 250px;
    height: 35px;
    border-radius: 20px;
    padding-left: 30px;
    background-color: #1f1e1d;
    border: 1px solid whitesmoke; /* Перезаписывается свойство в 110 строке*/
}

.main-page-navigation-scrollable-container {
    width: 300px;
    height: 780px;
    overflow: auto;
    overflow-x: hidden;
    display: block;
    display: inline-block;/* Перезаписывается свойство в 124 строке. Нужно пофиксить во всех местах где такое есть.*/
}

.main-page-navigation-scrollable-content {
    padding: 10px;
    display: block;
}

/* Использования композиции селекторов в БЭМе так же запрещено.*/
.main-page-navigation-scrollable-content a{
   padding-top: 10px;
   padding-bottom: 10px;
   display: block;
}
.main-page-navigation-scrollable-content p{
    color: whitesmoke;
    font-size: 20px;
    font-weight: bold;
}

.main-page-content{
    display: inline-block;
    position: absolute;
    margin-left: 50px;
    width: 900px;
}

.main-page-content H1{
    font-size: 50px;
    color: white;
}

.main-page-content p{
    color: white;
    font-size: 18px;
}

.main-page-fast_transition{
    display: inline-block;
    position: absolute;
    margin-left: 900px;
    margin-top: 50px;
    width: 300px;
}

.main-page-fast_transition h1{
    color: white;
}

.main-page-fast_transition a{
    padding-top: 10px;
    display: block;
}


