body {
    margin: 0;
    padding: 0;
    background-color: rgb(34, 33, 33);
    color: white;
}

.link {
    text-decoration: none;
    font-size: 20px;
    list-style: none;
    color: white;
}

.wrapper__header {
    height: 64px;
}

.wrapper__breadcrumbs {
    height: 32px;
}

.header {
    background-color: rgb(24, 23, 23);
    border-bottom: 1px solid whitesmoke;
    display: flex;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.header__logo {
    padding-right: 20px;
    display: grid;
    justify-items: end;
}

.header-links__wrapper {
    display: flex;
}

.header-links__link {
    padding-left: 10px;
    padding-right: 10px;
}

.header-menu {
    display: flex;
    gap: 1rem;
}

.header-menu_button {
    padding: 7px 10px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

.header-menu__search {
    border-radius: 15px;
    width: 65px;
    border: 1px solid whitesmoke;
    background: transparent;
    padding-left: 5px;
}


.breadcrumbs {
    border-bottom: 1px solid whitesmoke;
    background-color: rgb(68, 67, 67);

}

.breadcrumbs__container {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.main__container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: minmax(0,1fr) minmax(0,2.5fr) minmax(0,15rem);
    gap: 3rem;
}


.sidebar__wrapper {
    list-style: none;
}

.sidebar__filter {
    margin-top: 10px;
    border-radius: 15px;
    width: 65px;
    height: 28px;
    border: 1px solid whitesmoke;
    background: transparent;
    padding-left: 5px;
}

.sidebar__link {
    padding: 0;
    margin: 0;
    padding-top: 25px;
}

.main-content__text {
    font-size: 20px;
    text-align: center;
}

.main-document-toc__subtitle {
    list-style: none;
    border-left: 1px solid whitesmoke;
    padding-left: 20px;
    padding-top: 25px;
}


.footer__wrapper {
    background-color: rgb(75, 74, 74);
    padding-top: 20px;
}

.footer__grid {
    display: grid;
    grid-template-columns:0.70fr 1.6fr 0.7fr 0.7fr 0.7fr 1.9fr;
    gap: 20px;
    padding-left: 20px;
    padding-right: 20px;
    justify-items: left;
}

.footer-nav__link {
    padding-top: 10px;
}

.container {
    max-width: 1440px;
    width: 100%;
}

.row {
    display: flex;
}
